<div class="wrapper">
<h1>Edit article</h1>
<form method="post" action="/articles/edit/"+article_id>
    <div id="form-group">
        <div>
            <h3>Name:</h3>
            <input class="form-control" name="title" type="text" value="article.title">
        </div>
        <div>
            <h3>Author</h3>
            <input class="form-control" name="author" type="text">
        </div>
        <div>
            <h3>Comment</h3>
            <textarea class="form-control" name="body" type="text"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" value="submit">SUBMIT</button>
    </div>
</form>
</div>  